<mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>App Cibertec</span>
    <div class="boton-nav">
        
        <button mat-raised-button color="accent" (click)="irHome()"><mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon>Home</button>
        <button mat-raised-button color="accent"(click)="irCurso()"><mat-icon aria-hidden="false" aria-label="Example book icon" fontIcon="book"></mat-icon>Curso</button>
        <button mat-raised-button color="accent"(click)="irPost()"><mat-icon aria-hidden="false" aria-label="Example local_post_office icon" fontIcon="local_post_office"></mat-icon>Post</button>
        <button mat-raised-button color="accent"(click)="irEstado()"><mat-icon aria-hidden="false" aria-label="Example offline_pin icon" fontIcon="offline_pin"></mat-icon>Estado</button>

    </div>
    <span class="example-spacer"></span>

    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
    <button (click)="logout()" mat-icon-button class="example-icon" aria-label="Example icon-button with power_settings_new icon">
      <mat-icon>power_settings_new</mat-icon>
    </button>
  </mat-toolbar>
  <style>
    .example-spacer {
  flex: 1 1 auto;
}
.boton-nav button{
    
    margin-left: 30px;
}
  </style>
<hr>
<router-outlet></router-outlet>

